/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap");
/* @font-face {
  src: url(/Fonts/NotoKufiArabic300.ttf);
  font-family: "Noto Kufi Arabic", sans-serif;
} */
body {
  margin: 0;
  font-family: "Noto Kufi Arabic", sans-serif;
  background: linear-gradient(#615c5c, #494240);
}
/* header */
.header {
  overflow: hidden;
  background-color: #222222;
  padding: 20px 10px;
}

.header a {
  color: rgb(255, 255, 255);
  text-align: right;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  float: left;
  padding: 2px;
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  /*يخلي الخيار لونه رمادي عند التحديد*/
  background: linear-gradient(0deg, #070707, #806e63);
  color: rgb(255, 255, 255);
}

.header a.active {
  /*يخلي الخيار لونه ازرق في الصفحة الحالية*/
  background: linear-gradient(180deg, #070707, #806e63);
  color: white;
}

.header-right {
  /*اتجاه الصفحة*/
  float: right;
}

@media screen and (max-width: 500px) {
  /*مقاس الشاشات*/
  .header a {
    float: right;
    text-align: left;
  }
  .header-right {
    float: right;
  }
}
/* header end */
