/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap");
/* @font-face {
  src: url(/Fonts/NotoKufiArabic300.ttf);
  font-family: "Noto Kufi Arabic", sans-serif;
} */
body {
  font-family: "Noto Kufi Arabic", sans-serif;
}
/* header */
.header {
  overflow: hidden;
  background-color: #dff6ff;
  padding: 20px 10px;
}

.header a {
  color: black;
  text-align: right;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  float: left;
  padding: 2px;
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  /*يخلي الخيار لونه رمادي عند التحديد*/
  background-color: #fff;
  color: black;
}

.header a.active {
  /*يخلي الخيار لونه ازرق في الصفحة الحالية*/
  background-color: #1746a2;
  color: white;
}

.header-right {
  /*اتجاه الصفحة*/
  float: right;
}

@media screen and (max-width: 500px) {
  /*مقاس الشاشات*/
  .header a {
    float: left;
    text-align: right;
  }
  .header-right {
    float: right;
  }
}
/* header end */
